Repository afes-website/docs, pull requests merged in 2020-02, with the labels that each got.

#13 Feature/blog
  swagger.yaml
Labels: improve, swagger

#17 Feature/#15 refact
  swagger.yaml
Labels: improve, swagger

#18 #16: add missing path parameters
  swagger.yaml
Labels: bug, swagger

#24 #20 article/updateに400と409のエラーレスポンスを追加
  swagger.yaml
Labels: bug, swagger

#28 #14: add change_password route
  swagger.yaml
Labels: enhance

#27 #21 requiredが多すぎた問題の解消
  swagger.yaml
Labels: bug, swagger

#30 #23: 文法ミス
  swagger.yaml
Labels: bug

#31 #29: 'writer' を'blogWriter'に統合
  swagger.yaml
Labels: bug, swagger

#32 #22 要約文字数のパラメータを追加
  swagger.yaml
Labels: enhance, swagger
