Repository afes-website/docs, pull requests merged in 2020-03, with the labels that each got.

#40 #35: add images routes
  swagger.yaml
Labels: enhance

#41 #36: 検索クエリ
  swagger.yaml
Labels: enhance

#45 #34 authorを返すようにする
  swagger.yaml
Labels: bug, swagger

#46 #43 寄稿ルートを生成
  swagger.yaml
Labels: enhance, swagger
