Repository afes-website/docs, pull requests merged in 2020-04, with the labels that each got.

#48 #37: ブログ記事path制限
  swagger.yaml
Labels: enhance, swagger

#50 #42: READMEを書いた
  README.md
Labels: enhancement

#52 Update 1.5.0
  swagger.yaml
Labels: enhancement

#54 #53 unnecessary escape
  swagger.yaml
Labels: bug, swagger

#58 ogimageをかいた
  swagger.yaml
Labels: enhancement, swagger

#60 カテゴリーを返すAPIを追加
  swagger.yaml
Labels: swagger
